<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<link href="../static/css/guru.css" th:href="@{/css/guru.css}"
	rel="stylesheet" media="screen" />

<script th:inline="javascript">
	window.onload = function() {
		onReload();
	};
	window.onresize = function() {
		onReload()
	};

	function onReload() {
		var v_img = document.getElementById('MyBackgroundImage');
		var v_FixImage = document.getElementById('FixImage');
		v_FixImage.style.height = v_img.clientHeight + "px";

		var v_MyObjectImage1 = document.getElementById('MyObjectImage_1');
		v_MyObjectImage1.style.top = ((v_img.clientHeight * 0.20) - v_MyObjectImage1.height)
				+ "px";
		v_MyObjectImage1.style.left = ((v_img.clientWidth * 0.35) - (v_MyObjectImage1.width / 2))
				+ "px";

		var v_MyObjectImage2 = document.getElementById('MyObjectImage_2');
		v_MyObjectImage2.style.top = ((v_img.clientHeight * 0.25) - v_MyObjectImage2.height)
				+ "px";
		v_MyObjectImage2.style.left = ((v_img.clientWidth * 0.50) - (v_MyObjectImage2.width / 2))
				+ "px";

		var v_MyObjectImage3 = document.getElementById('MyObjectImage_3');
		v_MyObjectImage3.style.top = ((v_img.clientHeight * 0.30) - v_MyObjectImage3.height)
				+ "px";
		v_MyObjectImage3.style.left = ((v_img.clientWidth * 0.80) - (v_MyObjectImage3.width / 2))
				+ "px";

		var v_MyObjectImage4 = document.getElementById('MyObjectImage_4');
		v_MyObjectImage4.style.top = ((v_img.clientHeight * 0.40) - v_MyObjectImage4.height)
				+ "px";
		v_MyObjectImage4.style.left = ((v_img.clientWidth * 0.30) - (v_MyObjectImage4.width / 2))
				+ "px";

		var v_MyObjectImage5 = document.getElementById('MyObjectImage_5');
		v_MyObjectImage5.style.top = ((v_img.clientHeight * 0.40) - v_MyObjectImage5.height)
				+ "px";
		v_MyObjectImage5.style.left = ((v_img.clientWidth * 0.40) - (v_MyObjectImage5.width / 2))
				+ "px";

		var v_MyObjectImage6 = document.getElementById('MyObjectImage_6');
		v_MyObjectImage6.style.top = ((v_img.clientHeight * 0.45) - v_MyObjectImage6.height)
				+ "px";
		v_MyObjectImage6.style.left = ((v_img.clientWidth * 0.70) - (v_MyObjectImage6.width / 2))
				+ "px";

		var v_MyObjectImage7 = document.getElementById('MyObjectImage_7');
		v_MyObjectImage7.style.top = ((v_img.clientHeight * 0.50) - v_MyObjectImage7.height)
				+ "px";
		v_MyObjectImage7.style.left = ((v_img.clientWidth * 0.50) - (v_MyObjectImage7.width / 2))
				+ "px";

		var v_MyObjectImage8 = document.getElementById('MyObjectImage_8');
		v_MyObjectImage8.style.top = ((v_img.clientHeight * 0.50) - v_MyObjectImage8.height)
				+ "px";
		v_MyObjectImage8.style.left = ((v_img.clientWidth * 0.83) - (v_MyObjectImage8.width / 2))
				+ "px";

		var v_MyObjectImage9 = document.getElementById('MyObjectImage_9');
		v_MyObjectImage9.style.top = ((v_img.clientHeight * 0.80) - v_MyObjectImage9.height)
				+ "px";
		v_MyObjectImage9.style.left = ((v_img.clientWidth * 0.45) - (v_MyObjectImage9.width / 2))
				+ "px";

		var v_MyObjectImage10 = document.getElementById('MyObjectImage_10');
		v_MyObjectImage10.style.top = ((v_img.clientHeight * 0.80) - v_MyObjectImage10.height)
				+ "px";
		v_MyObjectImage10.style.left = ((v_img.clientWidth * 0.60) - (v_MyObjectImage10.width / 2))
				+ "px";

	}

	function onClickMyObjectImage(e) {
		if (e.id === "MyObjectImage_1") {
			setModal("พึ่นที่ : Zone A",
					"คำอธิบาย : ร้านพวก  gift shop",
					"ค้างชำระค่าเช่า : 1,000,000 ");
		}
		if (e.id === "MyObjectImage_2") {
			setModal("พึ่นที่ : Zone B",
					"คำอธิบาย : ร้านพวก  gift shop", "ค้างชำระค่าเช่า : 0 ");
		}
		if (e.id === "MyObjectImage_3") {
			setModal("พึ่นที่ : Zone C",
					"คำอธิบาย : ร้านพวก  gift shop", "ค้างชำระค่าเช่า : 0 ");
		}
		if (e.id === "MyObjectImage_4") {
			setModal("พึ่นที่ : Zone D",
					"คำอธิบาย : ร้านพวก  gift shop",
					"ค้างชำระค่าเช่า : 12,000,000 ");
		}
		if (e.id === "MyObjectImage_5") {
			setModal("พึ่นที่ : Zone E",
					"คำอธิบาย : ร้านพวก  gift shop",
					"ค้างชำระค่าเช่า : 2,000,000 ");
		}
		if (e.id === "MyObjectImage_6") {
			setModal("พึ่นที่ : Zone F",
					"คำอธิบาย : ร้านพวก  gift shop",
					"ค้างชำระค่าเช่า : 3,000,000 ");
		}
		if (e.id === "MyObjectImage_7") {
			setModal("พึ่นที่ : Zone G",
					"คำอธิบาย : ร้านพวก  gift shop", "ค้างชำระค่าเช่า : 12,000,000 ");
		}
		if (e.id === "MyObjectImage_8") {
			setModal("พึ่นที่ : Zone H",
					"คำอธิบาย : ร้านพวก  gift shop", "ค้างชำระค่าเช่า : 0 ");
		}
		if (e.id === "MyObjectImage_9") {
			setModal("พึ่นที่ : Zone I",
					"คำอธิบาย : ร้านพวก  gift shop", "ค้างชำระค่าเช่า : 0 ");
		}
		if (e.id === "MyObjectImage_10") {
			setModal("พึ่นที่ : Zone J",
					"คำอธิบาย : ร้านพวก  gift shop", "ค้างชำระค่าเช่า : 0 ");

		}
	}

	function setModal(p1, p2, p3) {
		var modal = document.getElementById("myModal");
		modal.style.display = "block";
		
		var detailimg = document.getElementById("MyBackgroundImage2");
		var FixImage3 = document.getElementById('modal-content-detail-img');
		FixImage3.style.height = detailimg.clientHeight + "px";
		
		var v_MyObjectImage1 = document.getElementById('MyObjectImage_1x1');
		v_MyObjectImage1.style.top = ((detailimg.clientHeight * 0.20) - v_MyObjectImage1.height)
				+ "px";
		v_MyObjectImage1.style.left = ((detailimg.clientWidth * 0.35) - (v_MyObjectImage1.width / 2))
				+ "px";

		var v_MyObjectImage2 = document.getElementById('MyObjectImage_1x2');
		v_MyObjectImage2.style.top = ((detailimg.clientHeight * 0.25) - v_MyObjectImage2.height)
				+ "px";
		v_MyObjectImage2.style.left = ((detailimg.clientWidth * 0.50) - (v_MyObjectImage2.width / 2))
				+ "px";

		var v_MyObjectImage3 = document.getElementById('MyObjectImage_1x3');
		v_MyObjectImage3.style.top = ((detailimg.clientHeight * 0.30) - v_MyObjectImage3.height)
				+ "px";
		v_MyObjectImage3.style.left = ((detailimg.clientWidth * 0.80) - (v_MyObjectImage3.width / 2))
		
		var element = document.getElementById("modal-content-detail");
		element.innerHTML = '';
		
		var FixImage2 = document.getElementById("FixImage2");
		var cloneNode = FixImage2.cloneNode(true);
		cloneNode.style.display = "block";
		//element.appendChild(cloneNode);

		var line1 = document.createElement("p");
		var node1 = document.createTextNode(p1);
		line1.appendChild(node1);
		element.appendChild(line1);

		//element.appendChild(document.createElement("br"));

		var line2 = document.createElement("p");
		var node2 = document.createTextNode(p2);
		line2.appendChild(node2);
		element.appendChild(line2);

		//element.appendChild(document.createElement("br"));

		var line3 = document.createElement("p");
		var node3 = document.createTextNode(p3);
		line3.appendChild(node3);
		element.appendChild(line3);

	}
	
	function onClickMyObjectImageDetail(e) {
		if (e.id === "MyObjectImage_1x1") {
			setModalDEtail("11. เลขล็อก สถานะว่า ว่าง ไม่ว่าง"
					,"2. ชื่อร้าน"
					,"3. ชนิดสินค้า"
					,"4. รูปถ่ายร้าน"
					,"5. ขนาดพื้นที่เช่า"
					,"6. ค่าเช่า"
					,"7. ชำระค่าเช่าแล้ว หรือ ค้างชำระ"
			);
		}
		if (e.id === "MyObjectImage_1x2") {
			setModalDEtail("1"
					,"2."
					,"3"
					,"4"
					,"5"
					,"6"
					,"7"
			);
		}
		if (e.id === "MyObjectImage_1x3") {
			setModalDEtail("1"
					,"2."
					,"3"
					,"4"
					,"5"
					,"6"
					,"7"
			);
		}
	}
	
	function setModalDEtail(p1, p2, p3 , p4, p5, p6 , p7) {
		var modal = document.getElementById("myModalDetail");
		modal.style.display = "block";
		
		var element = document.getElementById("modal-content-detail2");
		element.innerHTML = '';
	
		//element.appendChild(cloneNode);

		var line1 = document.createElement("p");
		var node1 = document.createTextNode(p1);
		line1.appendChild(node1);
		element.appendChild(line1);

		//element.appendChild(document.createElement("br"));

		var line2 = document.createElement("p");
		var node2 = document.createTextNode(p2);
		line2.appendChild(node2);
		element.appendChild(line2);

		//element.appendChild(document.createElement("br"));

		var line3 = document.createElement("p");
		var node3 = document.createTextNode(p3);
		line3.appendChild(node3);
		element.appendChild(line3);
		
		var line4 = document.createElement("p");
		var node4 = document.createTextNode(p4);
		line4.appendChild(node4);
		element.appendChild(line4);
		
		var line5 = document.createElement("p");
		var node5 = document.createTextNode(p5);
		line5.appendChild(node5);
		element.appendChild(line5);
		
		var line6 = document.createElement("p");
		var node6 = document.createTextNode(p6);
		line6.appendChild(node6);
		element.appendChild(line6);
		
		var line7 = document.createElement("p");
		var node7 = document.createTextNode(p7);
		line7.appendChild(node7);
		element.appendChild(line7);

	}


	window.onclick = function(event) {
		var modal = document.getElementById("myModal");
		if (event.target == modal) {
			modal.style.display = "none";
		}
		var modal2 = document.getElementById("myModalDetail");
		if (event.target == modal2) {
			modal2.style.display = "none";
		}
	}
	
	function onClickCloseModal(e) {
		var modal = document.getElementById("myModal");
		modal.style.display = "none";
		
		
	}
	function onClickCloseModalDetail(e) {
		var modal = document.getElementById("myModalDetail");
		modal.style.display = "none";
	}
		
	
</script>
</head>
<body>

</body>
</html>