.fix_image_position {
	position: relative;
	width: 100%;
	height: 100%;
}

.my-background-image {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 100%;
	width: auto;
	height: auto;
}

.my-object-image {
	position: absolute;
	width: auto;
	height: auto;
	cursor: pointer;
}
/* laptio screen => FHD */
@media only screen and (min-width: 112.5rem) {
	.my-object-image {
		max-height: 4vh;
		max-width: 4vw;
	}
	.myModal-close {
		max-height: 4vh;
		max-width: 4vw;
	}
	.sub-myModal-show-info {
		max-height: 8vh;
		max-width: 8vw;
		cursor: pointer;
	}
}
/* half screen , ipad pro */
@media only screen and (min-width: 56.25rem) and (max-width: 112.5rem) {
	.my-object-image {
		max-height: 3vh;
		max-width: 3vw;
	}
	.myModal-close {
		max-height: 3vh;
		max-width: 3vw;
	}
	.sub-myModal-show-info {
		max-height: 6vh;
		max-width: 6vw;
		cursor: pointer;
	}
}
/* ipad , iphone , mobile */
@media only screen and (max-width: 56.25rem) {
	.my-object-image {
		max-height: 2vh;
		max-width: 2vw;
	}
	.myModal-close {
		max-height: 2vh;
		max-width: 2vw;
	}
	.sub-myModal-show-info {
		max-height: 4vh;
		max-width: 4vw;
		cursor: pointer;
	}
}

.modal-content-detail-img .myModal-MyBackgroundImage {
   top:0px;
   left:0px;
   width: 100%;
   max-width: 100%;
}
.modal-content .myModal-close {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 100;
}
.modal-content .myModal-describe {
	position: absolute;
	padding:3%;
	top: 0px;
	left: 0px;
	color:red ;
	z-index: 100;
}
.sub-modal-content {
	padding-top : 5% ;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}

.sub-myModal-DIVMyObjectImage {
	position:absolute;
	padding: 5vh;
	top:0px;
	left:0px;
	z-index: 100 ;
	font-size: medium;
	color: red;
}
.sub-myModal-DIVMyObjectImage a {
	color: green;
}
.modal-container {
	padding: 3vh;
}
.sub-modal-content-detail-img {
   top:0px;
   left:0px;
   width: 100%;
   max-height:90% ;
}
.sub-myModal-MyBackgroundImage {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 100%;
	width: auto;
	height: auto;
}
