<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Management Area</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<script th:inline="javascript">
window.onload = function() {
	var myBackgroundImage = document.getElementById('MyBackgroundImage') ;
	var asi = document.getElementById('area-show-image') ;
	asi.style.height  = myBackgroundImage.height + "px" ;
	var modalbg = document.getElementById('area-show-info');
	modalbg.style.display = "block";
	
};

</script>
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<h2 th:text="#{area.info}"></h2>
		<div id="area-show-image" class=area-show-image >
			<div class="row text-center">
				<div id=FixImage class="fix_image_position">
				<img id=MyObjectImage style=" top: 0px;left: 0px;"
					src="../../static/images/circle_red.png"
					th:src="@{/images/circle_red.png}" class="rounded my-object-image" />
				<img id=MyBackgroundImage src="../../static/images/SHOP01.jpg"
					th:src="@{/images/main_area.jpg}"
					class="rounded area-my-background-image" /> 
				<div id="DIVMyObjectImage"></div>
				</div>
			</div>
		</div>
		<div id="area-show-info">
			<form class="form-horizontal">
				<div class="form-group clear-magin">
					<label class="col-sm-5 control-label"><p th:text="#{area.id}"></p></label>
					<div class="col-sm-7 ">
						<p class="form-control-static" id="shop-id" th:text="${area.id}"></p>
					</div>
				</div>
				<div class="form-group clear-magin">
					<label class="col-sm-5 control-label"><p th:text="#{area.description}"></p></label>
					<div class="col-sm-7">
						<p class="form-control-static" th:text="${area.description}"></p>
					</div>
				</div>
			</form>
			
			<table class="table table-striped">
				<tr>
					<th><p th:text="#{area.subarea.id}"></p></th>
					<th><p th:text="#{area.subarea.description}"></p></th>
					<th><p th:text="#{area.subarea.rentalArrears}"></p></th>
					<th><p th:text="#{area.subarea.view}"></p></th>
				</tr>
				<tr th:each="subarea : ${area.subarea}">
					<td th:text="${subarea.id}"/>
					<td th:text="${subarea.description}"/>
					<td th:text="${subarea.rentalArrears}"/>
					<td><a th:href="${ '/subarea/' + subarea.id}"><p th:text="#{subarea.shop.view}"></p></a></td>
				</tr>
				<tr>
					<td colspan="4" style="text-align: center;">
						<img id=area-add-zone src="../../static/images/SHOW_ADD_ZONE_RED.png"
							 	th:src="@{/images/SHOW_ADD_ZONE_RED.png}"
							 	onclick="alert( 'add zone')"
								class="sub-myModal-show-info" alt="Cinque Terre" />
						<p th:text="#{area.subarea.add}"></p>
					</td>
				</tr>
			</table>
			 
		</div>
	</div>
</body>
</html>