<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Management Area</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<script th:inline="javascript">
	window.onload = function() {
		onReloadObj() ;
	};
	window.onresize = function() {
		onReloadObj() ;
		var modal = document.getElementById("myModal");
			modal.style.display = "none";
	};
	function onReloadObj(action){
		var v_img = document.getElementById('MyBackgroundImage');
		var fixImage = document.getElementById("DIVMyObjectImage");
		fixImage.innerHTML = '';
		$.getJSON("/api/area/1", function(result){
			v_img.src = "/images/"+result.image;
			var bgh = v_img.clientHeight ;
			var bgw = v_img.clientWidth ;
			var obh = document.getElementById('MyObjectImage').height;
			var obw = document.getElementById('MyObjectImage').width;
			
		      $.each(result.subarea, function(i, obj){
					var objimg = document.getElementById('MyObjectImage');
					var clone = objimg.cloneNode(true);
					clone.id = 'MyObjectImage-'+obj.id ;
					clone.style.display = "block";
					if (obj.rentalArrears == "0"){
						clone.src = "/images/circle_green.png";
					}
					// myModal-MyBackgroundImage
					clone.onclick = function() { onClickZoneBlackGroup(this , obj ) ; };
					clone.style.top = ((bgh * obj.positionY) - obh) + "px";
					clone.style.left = ((bgw * obj.positionx) - (obw / 2))+ "px";
					fixImage.appendChild(clone);
					
		      });
				var modalbg = document.getElementById("myModal-DIVMyBackgroundImage"); 
				modalbg.style.display = "block";
				modalbg.innerHTML = "";
			      $.each(result.subarea, function(i, obj){
						var detailimg = document.getElementById("myModal-MyBackgroundImage");
						detailimg.src = "/images/"+obj.image ;
						var clonebg = detailimg.cloneNode(true);
						clonebg.id = clonebg.id+"-"+obj.id ;
						modalbg.appendChild(clonebg);
			      });
		});
	}
	function onClickZoneBlackGroup(e, subarea) {
		var modal = document.getElementById("myModal");
		modal.style.display = "block";
		
		var detailimg = document.getElementById("myModal-MyBackgroundImage");
		detailimg.src = "/images/"+subarea.image ;
		var detailimgx = document.getElementById("myModal-DIVMyBackgroundImage");
		onClickZone(e, subarea) ;
		detailimgx.style.display = "none";
	}
	
	function onClickZone(e, subarea) {
		var modal = document.getElementById("myModal");
		modal.style.display = "block";
		
		var detailimg = document.getElementById("myModal-MyBackgroundImage-"+subarea.id);
		var modalContent = document.getElementById('myModal-modal-content-detail-img');
		modalContent.style.height = detailimg.clientHeight + "px";
		
		var fixImage = document.getElementById("myModal-DIVMyObjectImage");
		fixImage.innerHTML = '';

		var bgh = detailimg.clientHeight ;
		var bgw = detailimg.clientWidth ;
		var obh = document.getElementById('myModal-MyObjectImage').height;
		var obw = document.getElementById('myModal-MyObjectImage').width;
		
	      $.each(subarea.shop, function(i, obj){
				var objimg = document.getElementById('myModal-MyObjectImage');
				var clone = objimg.cloneNode(true);
				clone.id = 'myModal-MyObjectImage-'+obj.id ;
				clone.style.display = "block";
				if (obj.rentalArrears == "0"){
					clone.src = "/images/marketplace_green.png";
				}
				clone.onclick = function() { onClickShop(this , obj ) ; };
				clone.style.top = ((bgh * obj.positionY) - obh) + "px";
				clone.style.left = ((bgw * obj.positionx) - (obw / 2))+ "px";
				fixImage.appendChild(clone);
	      });
	    var describe = document.getElementById('myModal-describe') ;
	    describe.innerHTML = '';
	    describe.appendChild(document.createTextNode(subarea.describetion));
		
	}
	function onClickShop(e, shop) {
		var modal = document.getElementById("sub-myModal");
		modal.style.display = "block";
		
		var detailimg = document.getElementById("sub-myModal-MyBackgroundImage");
		var modalContentImg = document.getElementById('sub-myModal-modal-content-detail-img');
		modalContentImg.style.height = detailimg.clientHeight + "px";
		var modalContent = document.getElementById('sub-myModal-DIVMyObjectImage');
		
	}
	
	function onClickMyObjectImageDetail(e) {
		var modal = document.getElementById("sub-myModal");
		modal.style.display = "block";
		
		var detailimg = document.getElementById("sub-myModal-MyBackgroundImage");
		var modalContent = document.getElementById('sub-myModal-modal-content-detail-img');
		modalContent.style.height = detailimg.clientHeight + "px";
	}
	
	window.onclick = function(event) {
		var modal = document.getElementById("myModal");
		if (event.target == modal) {
			modal.style.display = "none";
			var detailimgx = document.getElementById("myModal-DIVMyBackgroundImage");
			detailimgx.style.display = "block";
		}
		var modal2 = document.getElementById("sub-myModal");
		if (event.target == modal2) {
			modal2.style.display = "none";
		}
	}

	
	function onClickCloseModal(e) {
		var modal = document.getElementById("myModal");
		modal.style.display = "none";
		var detailimgx = document.getElementById("myModal-DIVMyBackgroundImage");
		detailimgx.style.display = "block";
	}
	function onClickCloseSubModal(e) {
		var modal = document.getElementById("sub-myModal");
		modal.style.display = "none";
	}
</script>
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<h2>
			<p th:text="#{rent.summary}" />
		</h2>
		<div>
			<div class="row text-center">
				<div id=FixImage class="fix_image_position">
				<img id=MyObjectImage style=" top: 0px;left: 0px;"
					src="../../static/images/circle_red.png"
					th:src="@{/images/circle_red.png}" class="rounded my-object-image" />
				<img id=MyBackgroundImage src="../../static/images/home_v3.jpg"
					th:src="@{/images/main_area.jpg}"
					class="rounded my-background-image" /> 
				<div id="DIVMyObjectImage"></div>
				
				
				</div>
				

			</div>
		</div>
	</div>
					<!-- The Modal -->
					<div id="myModal" class="modal ">
						<!-- Modal content -->
						<div class="container" >
						<div class="modal-container" >
						<div class="modal-content ">
						
							<div id=myModal-modal-content-detail-img class="modal-content-detail-img">
								<div id=myModal-FixImage class="fix_image" style="display:block; " >
									
								<img id=myModal-MyObjectImage
								src="../../static/images/marketplace_red"
								th:src="@{/images/marketplace_red.png}"
								class="rounded my-object-image" alt="Cinque Terre" />
								<div id="myModal-DIVMyBackgroundImage"> </div>
								<img id=myModal-MyBackgroundImage src="../../static/images/home_v2.jpg"
									th:src="@{/images/home_v2.jpg}"
									class="rounded my-background-image myModal-MyBackgroundImage" alt="Cinque Terre" />
									
								
								<div id="myModal-DIVMyObjectImage"/>
								</div>
							</div>
							<div id=modal-content-detail class="modal-content-detail">
								
							</div>
							<img id=myModal-close src="../../static/images/close.png"
							 	onclick="onClickCloseModal(this) ;"
								th:src="@{/images/close.png}"
								class="myModal-close close" alt="Cinque Terre" />
								
								<p id=myModal-describe class=myModal-describe />
						</div>
						</div>
						</div>
					</div>
					
					<div id="sub-myModal" class="modal ">
						<!-- Modal content -->
						<div class="container" >
						<div class="modal-container" >
						<div class="sub-modal-content ">
							<div class="modal-content ">
							<div id=sub-myModal-modal-content-detail-img class="modal-content-detail-img">
								<div id=sub-myModal-FixImage class="fix_image" style="display:block; " >
								
								<img id=sub-myModal-MyBackgroundImage src="../../static/images/home_v3.jpg"
									th:src="@{/images/home_v3.jpg}"
									class="rounded my-background-image" alt="Cinque Terre" />
									
								<div id="sub-myModal-DIVMyObjectImage" class="sub-myModal-DIVMyObjectImage" >
								
								<p th:text="#{rent.modal.numberLock}" />
								<p th:text="#{rent.modal.lockStatus}" />
								<p th:text="#{rent.modal.shopName}" />
								<p th:text="#{rent.modal.productType}" />
								<p th:text="#{rent.modal.sizeOfRentalSpace}" />
								<p th:text="#{rent.modal.Rent}" />
								<p th:text="#{rent.modal.RentPaid}" />
								<p th:text="#{rent.modal.other}" />
								
								</div>
								</div>
							</div>
							
							<img id=sub-myModal-close src="../../static/images/close.png"
							 	onclick="onClickCloseSubModal(this) ;"
								th:src="@{/images/close.png}"
								class="myModal-close close" alt="Cinque Terre" />
							
							</div>
						</div>
						</div>
						</div>
					</div>

</body>
</html>