<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Management Area</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<script th:inline="javascript">

window.onload = function() {
	var myBackgroundImage = document.getElementById('MyBackgroundImage') ;
	var asi = document.getElementById('shop-show-image') ;
	asi.style.height  = myBackgroundImage.height + "px" ;
	var modalbg = document.getElementById('shop-show-info');
	modalbg.style.display = "block";
	
};

function reserveSpace(e) {
	var shopId = document.getElementById("shop-id");
	console.log(shopId.innerHTML) ;
	window.location.href='/shop/reserveSpace/'+shopId.innerHTML
}

function invoice(e) {
	window.open('/images/invoice.pdf') ;
}


</script>
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<h2 th:text="#{shop.info}"></h2>
		<div id="shop-show-image" class=shop-show-image >
			<div class="row text-center">
				<div id=FixImage class="fix_image_position">
				<img id=MyObjectImage style=" top: 0px;left: 0px;"
					src="../../static/images/circle_red.png"
					th:src="@{/images/circle_red.png}" class="rounded my-object-image" />
				<img id=MyBackgroundImage src="../../static/images/SHOP01.jpg"
					th:src="${ '/images/' + shop.image}"
					class="rounded sub-area-my-background-image" /> 
				<div id="DIVMyObjectImage"></div>
				</div>
			</div>
		</div>
		<div id=shop-show-info >
			<form class="form-horizontal">
				<p class="form-control-static" th:text="${shop.subArea.id}" hidden="true" /> 
				<div class="form-group clear-magin">
					<label class="col-sm-5 control-label"><p th:text="#{shop.area}"></p></label>
					<div class="col-sm-7">
						<a th:href="${ '/subarea/' + shop.subArea.id}"><p class="form-control-static" th:text="${shop.subArea.description}"/></a>
					</div>
				</div>
				<div class="form-group clear-magin">
					<label class="col-sm-5 control-label"><p th:text="#{shop.id}"></p></label>
					<div class="col-sm-7">
						<p class="form-control-static" id="shop-id" th:text="${shop.id}"></p>
					</div>
				</div>
				<div class="form-group clear-magin">
					<label class="col-sm-5 control-label"><p th:text="#{shop.description}"></p></label>
					<div class="col-sm-7 ">
						<p class="form-control-static" th:text="${shop.description}"></p>
					</div>
				</div>
				<div class="form-group clear-magin">
					<label class="col-sm-5 control-label"><p th:text="#{shop.numberLock}"></p></label>
					<div class="col-sm-7 ">
						<p class="form-control-static" th:text="${shop.numberLock}"></p>
					</div>
				</div>
				<div class="form-group clear-magin">
					<label class="col-sm-5 control-label"><p th:text="#{shop.lockStatus}"></p></label>
					<div class="col-sm-7 ">
						<div th:switch="${shop.status}"> 
						  <p th:case="'0'"><i th:text="#{shop.lockStatus.available}"></i></p>
						  <p th:case="*"><i th:text="#{shop.lockStatus.unavailable}"></i></p> 
						</div>
					</div>
				</div>
				<div class="form-group clear-magin">
					<label class="col-sm-5 control-label"><p th:text="#{shop.shopName}"></p></label>
					<div class="col-sm-7 ">
						<p class="form-control-static" th:text="${shop.shopName}"></p>
					</div>
				</div>
				<div class="form-group clear-magin">
					<label class="col-sm-5 control-label"><p th:text="#{shop.productType}"></p></label>
					<div class="col-sm-7 ">
						<p class="form-control-static" th:text="${shop.productType}"></p>
					</div>
				</div>
				<div class="form-group clear-magin">
					<label class="col-sm-5 control-label"><p th:text="#{shop.sizeSpace}"></p></label>
					<div class="col-sm-7 ">
						<p class="form-control-static" th:text="${shop.sizeSpace}"></p>
					</div>
				</div>
				<div class="form-group clear-magin">
					<label class="col-sm-5 control-label"><p th:text="#{shop.Rent}"></p></label>
					<div class="col-sm-7 ">
						<p class="form-control-static inline" th:text="${shop.monthlyRent}"></p>
					</div>
				</div>
				<div class="form-group clear-magin">
					<label class="col-sm-5 control-label"><p th:text="#{shop.rentalArrears}"></p></label>
					<div class="col-sm-7 ">
						<p class="form-control-static" th:text="${shop.rentalArrears}"></p>
					</div>
				</div>
				<div class="form-group clear-magin">
					<label class="col-sm-5 control-label"><p th:text="#{shop.other}"></p></label>
					<div class="col-sm-7 ">
						<p class="form-control-static" th:text="${shop.other}"></p>
					</div>
				</div>
				
				
				<div class="form-group clear-magin">
					<div class="col-sm-4">
						<img id=shop-info-update src="../../static/images/SHOW_UPDATE_RED.png"
							 	th:src="@{/images/SHOW_UPDATE_RED.png}"
								class="sub-myModal-show-info" alt="Cinque Terre" />
								<p th:text="#{shop.info.update}"></p>
					</div>
					<div class="col-sm-4">
						<img id=shop-costs-quote src="../../static/images/SHOW_INTRODUCTION_RED.png"
							 	th:src="@{/images/SHOW_INTRODUCTION_RED.png}"
								class="sub-myModal-show-info" alt="Cinque Terre" />
								<p th:text="#{shop.costs.quote}"></p>
					</div>
					<div class="col-sm-4">
						<img id=shop-Reserve-space src="../../static/images/SHOW_SHOP_RED.png"
							 	th:src="@{/images/SHOW_SHOP_RED.png}"
							 	onclick="reserveSpace(this)  ;"
								class="sub-myModal-show-info" alt="Cinque Terre" />
								<p th:text="#{shop.reserve.space}"></p>
					</div>
				</div>
				<div class="form-group clear-magin">
					<div class="col-sm-4">
						<img id=shop-contract src="../../static/images/SHOW_CONTRACT_RED.png"
							 	th:src="@{/images/SHOW_CONTRACT_RED.png}"
								class="sub-myModal-show-info" alt="Cinque Terre" />
								<p th:text="#{shop.contract}"></p>
					</div>
					<div class="col-sm-4">
						<img id=shop-the-cost src="../../static/images/SHOW_INFO_RED.png"
							 	th:src="@{/images/SHOW_INFO_RED.png}"
								class="sub-myModal-show-info" alt="Cinque Terre" />
								<p th:text="#{shop.the.cost}"></p>
					</div>
					<div class="col-sm-4">
						<img id=shop-Invoice src="../../static/images/SHOW_INVOICE_RED.png"
								onclick="invoice(this)  ;"
							 	th:src="@{/images/SHOW_INVOICE_RED.png}"
								class="sub-myModal-show-info" alt="Cinque Terre" />
								<p th:text="#{shop.invoice}"></p>
					</div>
				</div>
				<div class="form-group clear-magin">
					<div class="col-sm-4">
						<img id=shop-accept-payment src="../../static/images/SHOW_INFO_RED.png"
							 	th:src="@{/images/SHOW_INFO_RED.png}"
								class="sub-myModal-show-info" alt="Cinque Terre" />
								<p th:text="#{shop.accept.payment}"></p>
					</div>
					<div class="col-sm-4">
						<img id=shop-report src="../../static/images/SHOW_INFO_RED.png"
							 	th:src="@{/images/SHOW_INFO_RED.png}"
								class="sub-myModal-show-info" alt="Cinque Terre" />
								<p th:text="#{shop.report}"></p>
					</div>
					<div class="col-sm-4">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>